.boton{
  background-color: $white;
  font-family: $raleway;
  border-radius: 0px;
  padding: 2vh 3vw;
  border-style: 3px solid $smoky-black;
  text-decoration: none;
  color: $smoky-black;
  font-weight: $letra_bold;
}
