.navbar-brand{
  font-family: $old_standard;
  font-size: $x-large;
  font-weight: $letra_regular;
}

.nav-link{
  font-family: $raleway;
  font-size: $large;
  text-decoration: none;
  color: red;
  font-weight: $letra_bold;
}

h1{
  font-family: $old_standard;
  font-size: $xxx-large;
  color: $smoky-black;
  font-weight: $letra_bold;
}

p{
  font-family: $raleway;
  font-size: $large;
  color: $granite_gray;
  font-weight: $letra_regular;
}
