.newsletter{
  width: 40vw;
  height: 28vh;
  background-color: $smoky-black;
  padding-left: 5vw;

  h3{
    padding-top: 5vh;
    padding-bottom: 4vh;
  }

  form{
    width: 50%;
    padding-top: 1vh;
    font-family: $raleway;
  }
}
