.text{
  width: 40vw;
  background-color: $white;
  padding-bottom: 10vh;
  padding-left: 5vw;

  h1{
    width: 80%;
    padding-top: 8vh;
    padding-bottom: 4vh;
  }

  p{
    width: 65%;
    padding-bottom: 4vh;
    line-height: 25px;
  }
}
